#body{
 background-color: #B6FFE9;
}

#quote-box{
 position:relative;
 width:800px;
 height:600px;
 background-color:#FFB6C1; 
 margin: auto; 
}

#text{
 position:absolute;
 left:250px;
 top:235px;
 width:300px;
}

#author{
 position:absolute;
 left:425px;
 top:315px;
 width:150px;
 text-align:right;
}

#buttons{
 margin-top:25px;
 display:flex;
}

#new-quote{
 margin-right:10px;
}

/* My Ipad - Portrait */
@media only screen 
and (max-device-width : 834px)  { 

	#quote-box{
		width:95vw;	
	}	

	#coffee-pic{
		display:block;
		margin:auto;
	}

#text {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 30%;
    font-size: 20px;
}

#author {
    position: absolute;
    left: 35%;
    top: 70%;
    width: 25%;
    font-size: 20px;
    text-align: right;
}

}

/* iPhone Plus- Landscape */
@media only screen 
and (max-device-width : 736px)  { 

	#quote-box{
		width:98vw;	
		height:98vh;
	}	

	#coffee-pic{
		max-height:100%;
		margin:auto;
	}

	div#buttons {
    position: absolute;
    bottom: 1vw;
    left: 1vw;
}

}

/* iPhone 4- Landscape */
@media only screen 
and (max-device-width : 480px)  { 

	#text{
	 font-size:24px;
	}	


}


/* iPhone 6 Plus - portrait */
@media only screen 
and (max-device-width : 414px) and (orientation: portrait) { 

	#coffee-pic{
    position: absolute;
    top: 30vh;
    left: 5vw;
	}


	#text {
		  font-size: 38px;
		  position: absolute;
		  top: 10vh;
		  width: 60%;
		  left: 20vw;
		  background-color: #B6FFE9;
		  text-align: center;
	}

	#author{
		top:48vh;
		left:25vw;
		font-size:35px;
		width:35%;
	}

	div#buttons {
		  bottom: 15vh;
		  left: 40vw;
	}

	.fa-2x {
		  font-size: 5em;
	}

	#new-quote {
		  margin-right: 4vw;
	}
}

/* iPhone 5 and 4 - portrait */
@media only screen 
and (max-device-width : 320px) and (orientation: portrait) { 

	#text{
		font-size:42px;
	}

	#author{
		font-size:36px;
	}
}



