#body{
 background-color: #B6FFE9;
}

#quote-box{
 position:relative;
 width:800px;
 height:600px;
 background-color:#FFB6C1; 
 margin: auto; 
}

#text{
 position:absolute;
 left:250px;
 top:235px;
 width:300px;
}

#author{
 position:absolute;
 left:425px;
 top:315px;
 width:150px;
 text-align:right;
}

#buttons{
 margin-top:25px;
 display:flex;
}

#new-quote{
 margin-right:10px;
}

/* My Ipad - Portrait */
@media only screen 
and (max-device-width : 834px)  { 

	#quote-box{
		width:95vw;	
	}	

	#coffee-pic{
		display:block;
		margin:auto;
	}

#text {
    position: absolute;
    left: 35%;
    top: 40%;
    width: 30%;
    font-size: 20px;
}

#author {
    position: absolute;
    left: 35%;
    top: 70%;
    width: 25%;
    font-size: 20px;
    text-align: right;
}

}

